<style>
body{
    background-color: green;
    font-family: Arial;
}

fieldset{
    width: 400px;
    margin: auto;
    background-color: red;
    padding: 20px;
}

input, textarea{
    width: 95%;
    padding: 5px;
}

legend{
    text-align: center;
}
</style>